.content.users {
  display:        inherit;
  flex-direction: column;
  margin:         10px;
  overflow-x:     auto;
}

.content.users > .userList {
  display:        inherit;
  flex-direction: column;
  margin:         0 0 auto 0;
  overflow-y:     auto;
}

.isFetching {
  display: inherit;
  width:   100%;
}

.isFetching > span {
  margin: auto;
  width:  fit-content;
}