.messageChain {
  display:        inherit;
  flex-direction: column;
  margin:         0 0 10px auto;
  width:          67%;
}

.messageChain:last-child {
  margin: 0 0 0 auto;
}

.messageChain > .item {
  background:    #3C6CCC33;
  border-radius: 8px;
  margin:        0 0 1px auto;
  padding:       9px 12px;
}

.messageChain > .item:last-child {
  margin: 0 0 0 auto;
}

.messageChain.incoming {
  margin: 0 auto 10px 0;
}

.messageChain.incoming:last-child {
  margin: 0 auto 0 0;
}

.messageChain.incoming > .item {
  margin: 0 auto 1px 0;
}

.messageChain.incoming > .item:last-child {
  margin: 0 auto 0 0;
}