header {
  background: #3C6CCC;
  color:      #FFFFFF;
  display:    inherit;
}

header > span:first-child {
  display:   block;
  font-size: 24px;
  margin:    0 auto 0 193px;
  padding:   15px;
  position:  relative;
}

header > span:first-child::before {
  background:      url('./img/logo.png') 0 0 no-repeat;
  background-size: contain;
  content:         '';
  height:          44px;
  left:            -183px;
  position:        absolute;
  top:             10px;
  width:           183px;
}

header > span:last-child {
  margin: auto 24px;
}

header > a {
  border-bottom:   1px dashed;
  color:           #FFFFFF;
  margin:          auto 24px;
  text-decoration: none;
}